[Unit]
Description=Run Geth
After=bootnode.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/geth
ExecStart=/usr/bin/geth --datadir ~/.ethereum/${NETWORK} --networkid ${NETWORK} --bootnodes "enode://${BOOTNODE_KEY}@${BOOTNODE_IP}:30301" --rpc --rpcaddr 0.0.0.0 --rpcport 8545 --rpcapi db,eth,net,web3,personal --verbosity=${VERBOSITY}
Restart=on-failure
User=biab
Group=users

[Install]
WantedBy=multi-user.target
Alias=geth.service
